body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.header {
    color: blue;
    font-weight: bold;
}

.search-box {
    margin-top: 20px;
}

#searchQuery {
    padding: 10px;
    border-radius: 25px;
    border: none;
    width: 300px;
}

#searchBtn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#searchBtn:hover {
    background-color: orange;
}

.search-options {
    margin-top: 20px;
}

.search-type {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
}

.search-type:hover {
    background-color: orange;
}

.search-details {
    display: none;
    margin-top: 10px;
}

.search-results {
    margin-top: 20px;
}
