body {
    background-color: #121212; /* Темный фон */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF; /* Цвет текста */
    margin: 0;
    height: 100vh;
    justify-content: center;
    transition: background-color 0.3s; /* Плавный переход фона */
}

h1 {
    color: #1E90FF; /* Ярко-синий цвет для заголовка */
    font-weight: bold;
    margin-bottom: 20px; /* Отступ снизу */
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Отступ снизу */
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 25px; /* Гладкие углы */
    border: 2px solid #1E90FF; /* Синий бордер */
    background-color: #1E1E1E; /* Цвет фона поля ввода */
    color: #FFFFFF; /* Цвет текста */
    margin-bottom: 10px;
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход */
}

input[type="text"]:focus {
    background-color: #FF7F50; /* Оранжевый фон при фокусе */
    border-color: #FF4500; /* Красный бордер при фокусе */
    outline: none; /* Убираем стандартный обвод */
}

button {
    padding: 10px 20px;
    border-radius: 25px; /* Гладкие углы */
    border: none;
    background-color: #1E90FF; /* Синий фон кнопки */
    color: white;
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход */
}

button:hover {
    background-color: #FF7F50; /* Оранжевый фон при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.results {
    border: 2px solid #FFFFFF; /* Белый бордер */
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px; /* Гладкие углы */
    max-height: 300px; /* Максимальная высота */
    overflow-y: auto; /* Прокрутка при переполнении */
    background-color: #1E1E1E; /* Цвет фона для результатов */
}

.results a {
    color: #1E90FF; /* Синий цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.results a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
